* {
    color: white;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2vw;
    background-color: black !important;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100vw !important;
    padding: 0 4vw;
    align-items: self-start;
}

#star-wars-logo {
    width: 20vw;
}

.nav-item {
    padding: 0 2vw;
    color: white !important;
}

.nav-link.active {
    border-bottom: 0.2vw solid rgba(255, 215, 0, 0.6) !important;
    width: 100% !important;
    display: inline-block !important;
    color: white !important;
}

.nav-div {
    border-bottom: 0.1vw solid grey;
    margin-bottom: 3vw;
}

.nav-underline .nav-link {
    color: white !important;
    position: relative; 
}

.nav-underline .nav-link:focus::after, 
.nav-underline .nav-link:hover::after, 
.nav-underline .nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.2vw;
    width: 100%;
    height: 0.2vw;
    background-color: #FFD700;
    filter: drop-shadow(0px 0.2vw 1vw rgba(255, 215, 0, 0.6)); 
    color: white !important;
}

#pills-tab {
    gap: 0;
    margin-bottom: 0 !important;
    padding: 0;
}

.starShipsCards {
    background-color: #212121 !important;
    width: 60vw;
    padding: 1.5vw;
    border-radius: 0.3vw;
}

.starShipsCards h5,
.starShipsCards p {
    background-color: #212121 !important;
    margin: 0;
    color: rgb(175, 173, 173);
}

.starShipsCards:hover {
    box-shadow: 0 0 0.5vw 0.2vw rgba(255, 215, 0, 0.8), 0 0 4vw 1vw rgba(255, 215, 0, 0.6), 0 0 8vw 1.5vw rgba(255, 215, 0, 0.4);
}

.goldenShadow {
    box-shadow: 0 0 0.5vw 0.2vw rgba(255, 215, 0, 0.8), 0 0 4vw 1vw rgba(255, 215, 0, 0.6), 0 0 8vw 1.5vw rgba(255, 215, 0, 0.4);
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.2vw;
    border-radius: 0.5vw;
}

.starShipsImage {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.starShipsContainer {
    position: relative;
    max-width: 60vw;
}

.informationDiv {
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    padding: 1vw;
    z-index: 2;
    width: 60%;
    height: 60%;
    background-color: rgba(61, 61, 61, 0.6) !important;
    backdrop-filter: blur(1vw); 
    color: white; 
    border-left: 0.3vw solid rgb(255, 72, 0); 
    font-size: 2vw;
    overflow-wrap: break-word;
}

.informationDiv div, .informationDiv p, .informationDiv h6 {
    background-color: transparent !important;
}

.informationDiv p {
    font-size: 1.2vw;
    margin: 0;
}


.imageDiv {
    max-width: 60vw;    
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    padding: 1vw;
    gap: 2vw;
}

.socialList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5vw;
}

.socialList li {
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialList img {
    width: 100%;
    height: auto;
    max-width: 3vw; 
    filter: invert(100%);
}

.video-background {
    position: relative;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-background__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.content {
    color: white;
    text-align: center;
    z-index: 10;
}

h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.content a {
    font-size: 1.5rem;
    color: rgba(255, 215, 0, 0.8) !important; 
    text-decoration: none;
    border: 2px solid rgba(255, 215, 0, 0.8) !important; 
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;

}

a:hover {
    box-shadow: 0 0 0.5vw 0.2vw rgba(255, 215, 0, 0.8), 0 0 4vw 1vw rgba(255, 215, 0, 0.6), 0 0 8vw 1.5vw rgba(255, 215, 0, 0.4);
    color: black;
}
